@font-face {
    font-family: 'Travels Next Trial';
    src: local(' Travels Next Trial Regular'), 
         url('../fonts/TT Travels Next Trial Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;  
    font-display: swap;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Travels Next Trial', sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #244377 0%, #3a5ba0 50%, #6c92d4 100%);
    min-height: 100vh;
}


*,*::after,*::before {
    box-sizing: inherit;
}

:root {
    --color-white: #ffffff;
    --cornflower-blue: #244377;
}

.container {
    max-width: 1226px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-reset {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
    color: var(--color-white);
}
